/* Default Button Style */

button {

    background-color: #0E9A24;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    box-sizing: border-box;
    padding: 10px;

    width: 100%;
    font-family: 'Geist Mono';
    font-weight: 800;

    border: none;

}

/* Window Button Style */

.window-black {

    background-color: #121212;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    box-sizing: border-box;
    padding: 10px;

    width: 100%;
    font-family: 'Geist Mono';
    font-weight: 800;

    border: none;

    gap: 10px

}

.window-white {

    background-color: white;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: black;
    box-sizing: border-box;
    padding: 10px;

    width: 100%;
    font-family: 'Geist Mono';
    font-weight: 800;

    border: 1px solid black;

    gap: 10px

}

.window-black span {
    color: #9c9c9c
}

.window-disabled {
    color: #9c9c9c;
    background-color: white;
    border: 1px solid #9c9c9c;
}

/* Shopify Buy Button */

.shopify-buy {
    background: linear-gradient(135deg, #2ecc71, #27ae60);
    color: white;
    border: none;

    cursor: pointer;
}