/* Window Button Style */

.window {

    background-color: #0E9A24;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    box-sizing: border-box;
    padding: 10px;

    width: 100%;
    font-family: 'Geist Mono';
    font-weight: 800;

    border: none;

}