.input-container {
    display: flex;
    flex-direction: column;

    width: fit-content;
    height: fit-content;

    justify-content: center;
    align-items: start;

    box-sizing: border-box;
}

.inputs {
    width: 100%;
}

input {
    background-color: white;
    border: none;
    padding: 2px;
    box-sizing: border-box;
    color: black;
}

/* Text */

h7 {
    font-weight: 400;
    text-align: center;
    font-size: 14px;
}

/* Phone Inputs */ 

#phone-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: center;
    align-items: end;

    gap: 7px;
}

.outer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2px;
}

.inner-phone, .outer-phone {
    display: flex;
}

.outer-phone {
    height: 30px;
    gap: 5px;
}

.hyphen {
    border: 1px solid black;
    height: 0px;
    width: 50px;
}

.inner-phone {
    height: 100%;
    border: 1px solid black;
    padding: 2px;
    box-sizing: border-box;
}

.inner-phone img{
    height: 100%;
    width: auto;
}

.inner-phone input {
    border: none;
    font-size: 20px;
    margin-bottom: 3px;
}

#country-code {
    width: fit-content;
    height: 30px;
}

#country-input {
    width: 30px;
    text-align: center;
}

/* OTP */ 

.outer-otp {
    width: 90%;
}

.outer-phone-otp {
    height: 50px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Default */ 

.inner {
    border: 1px solid black;
    padding: 2px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inner img {
    height: 80%;
}