.login-register-new {
    width: 100%;
}

.login-register-new h6 {
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    margin: 0;
}

.error-text {
    margin: -15px 0px 20px 0px;
    color: red;
}