.login-form {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

.login-form .window-card-body {
    height: fit-content;
}

.login-form .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
    margin: 10px 0px 20px 0px;
}

.login-form .header h4, p{
    margin: 0;
}

.phone-input {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    background-color: white;
    color: black;
    
}

.login-form .inputs {
    display: flex;
}

.login-form .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;

    gap: 10px;
}

.login-form .input-container p {
    font-size: 12px;
    width: 80%;
    color:rgb(112, 112, 112);

    margin-bottom: 30px;
}

.login-form p {
    font-size: 14px;
    width: 100%;
}

.login-form h4 {
    margin: 20px;
}

/* Text */

#terms {
    text-decoration: none;
    color: rgb(160, 160, 160);
    font-size: 12px;
    margin: 5px;
}