.profile-snippet {

    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;
    gap: 5px;



}

/* Username Text */

.profile-snippet a {
    font-weight: 400;
    text-decoration: none;
    color: black;
}