/* Main Container */

.topbar {
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    width: 100vw;
    height: 50px;

    padding: 10px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    button {
        width: 30%;
    }

    button:hover {
        color: white;
        background-color: black;
    }
}

/* 42+ logo */

.topbar-logo {
    height: 80%;
}
